.setAndRise {
  padding: 25px 0 0 0;
  margin-right: 100px;
}

.sunBlock,
.moonBlock {
  display: flex;
  padding-left: 30px;
}

.moonrise,
.sunrise {
  margin-right: 15px;
}

.sunrise,
.sunset,
.moonrise,
.moonset {
  display: flex;
  align-items: center;
}

.sunriseImage,
.sunsetImage,
.moonsetImage,
.moonriseImage {
  width: 60px;
}
