.wrap {
  text-align: center;
  width: 100px;
  border-radius: 10px;
  padding: 5px;
}

.wrap:hover {
  background-color: rgb(186, 185, 220);
  opacity: 0.9;
}

.date {
  font-size: 20px;
  line-height: 35px;
}

.dayOfWeek {
  font-size: 18px;
  font-weight: 600;
}

.minAndMax {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.maxBlock,
.minBlock {
  width: 50%;
  text-align: center;
}

.minNum,
.maxNum {
  font-weight: 700;
  font-size: 20px;
}

.minNum:after,
.maxNum:after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border: 2px solid #000;
  border-radius: 5px;
  position: relative;
  bottom: 27px;
  left: 33px;
}
