.time {
  font-weight: 600;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  margin-right: 40px;
}

.date {
  font-size: 26px;
  line-height: 30px;
  margin: 0;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .time {
    /* font-weight: 600;
    text-align: center; */
    padding: 30px 15px;
    /* font-size: 20px; */
    margin-right: 0px;
  }

  /* .date {
    font-size: 26px;
    line-height: 30px;
    margin: 0;
    font-weight: 600;
  } */
}

@media screen and (max-width: 830px) {
  .time {
    /* font-weight: 600;
    text-align: center; */
    padding: 30px 5px;
    font-size: 17px;
    margin-right: -10px;
  }

  .date {
    font-size: 20px;
    line-height: 24px;
    /* margin: 0;
    font-weight: 600; */
  }
}

@media screen and (max-width: 630px) {
  .time {
    font-weight: 600;
    text-align: center;
    padding: 30px 5px 30px 30px;
    font-size: 22px;
    margin-right: -40px;
  }

  .date {
    font-size: 24px;
    line-height: 26px;
    /* margin: 0;
    font-weight: 600; */
  }
}
